<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SmartTaskbar.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" />
    </startup>
    <System.Windows.Forms.ApplicationConfigurationSection>
        <add key="DpiAwareness" value="PerMonitorV2" />
        <add key="EnableWindowsFormsHighDpiAutoResizing" value="true" />
    </System.Windows.Forms.ApplicationConfigurationSection>
    <userSettings>
        <SmartTaskbar.Properties.Settings>
            <setting name="TaskbarState" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="IconSize" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Transparent" serializeAs="String">
                <value>False</value>
            </setting>
        </SmartTaskbar.Properties.Settings>
    </userSettings>
</configuration>