<?xml version="1.0" encoding="utf-8"?>

<packages>
  <package id="DynamicData" version="6.12.5" targetFramework="net472" />
  <package id="Fody" version="5.1.1" targetFramework="net472" developmentDependency="true" />
  <package id="ReactiveUI" version="9.19.5" targetFramework="net472" />
  <package id="ReactiveUI.Fody" version="9.19.5" targetFramework="net472" />
  <package id="ReactiveUI.WinForms" version="9.19.5" targetFramework="net472" />
  <package id="Splat" version="8.0.1" targetFramework="net472" />
  <package id="System.Drawing.Primitives" version="4.3.0" targetFramework="net472" />
  <package id="System.Reactive" version="4.1.5" targetFramework="net472" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.2" targetFramework="net472" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.3" targetFramework="net472" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net472" />
</packages>